<canvas id="pan"></canvas>

<div>
	<button class="zoom in btn btn-default btn-sm" data-dir="in"><i class="fa fa-plus"></i></button>
</div>
<div>
	<button class="zoom out btn btn-default btn-sm" data-dir="out"><i class="fa fa-minus"></i></button>
</div>