 <div class="container-fluid">
	<!--<div class="row">
		<div class="btn-group">
			<button type="button" class="col-md-5 btn btn-default active">Zeitung</button>
			<button type="button" class="col-md-5 btn btn-default">Twitter</button>
			<button type="button" class="col-md-2 btn btn-default"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		</div>
	</div>
	-->
	<ul class="nav nav-tabs source-select" role="tablist">
		<li role="presentation"><a href="#" class="twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
		<li role="presentation" class="active"><a href="#" class="news"><i class="fa fa-newspaper-o"></i> Nachrichten</a></li>
	</ul>
	<button type="button" class="close pull-right"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
 	<div class="row source-region">
 		
 	</div>
 </div>